.Main p, 
.Main ul, 
.Main ol,
.Main h1,
.Main h2,
.Main h3,
.Main h4 {
  max-width: 640px;
  min-width: 160px;
  margin: 1rem auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Main h1:first-child,
.Main h2:first-child,
.Main h3:first-child,
.Main h4:first-child,
.Main p:first-child {
  margin-top: 0;
  padding-top: 1rem;
}
.Main h1:last-child,
.Main h2:last-child,
.Main h3:last-child,
.Main h4:last-child,
.Main p:last-child {
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.Main .Main-section {
  margin: 0 0.5rem 0;
}
.Main .Main-section.Main-section--footer {
  margin: 0;
}
.Main blockquote {
  text-align: center;
  white-space: nowrap;
}
.Main blockquote p {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  max-width: 75%;
}
.Main blockquote:before {
  content: '“';
  font-size: 300%;
  height: 1rem;
  vertical-align: middle;
  margin: 1rem;
}
.Main blockquote:after {
  content: '”';
  font-size: 300%;
  height: 1rem;
  vertical-align: middle;
  margin: 1rem;
}

.Post {
  font-family: "Karma", serif;
  line-height: 166%;
}
.Post ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.Post em {
  font-style: italic;
}
.Post strong {
  font-weight: 700;
}
.Post .Post-image {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.Post .Post-image img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.Post.Post--preview {
  margin-bottom: 4rem;
}

.Subsection {
  border-bottom: 1px solid wheat;
}
.Subsection + .Subsection {
  margin-top: -1px;
}
.Subsection:last-child {
  border-bottom: 0;
}

.u-alignRight {
  text-align: right;
}
.u-alignCenter {
  text-align: center;
}
.u-pullRight {
  float: right;
}



