{% extends "base.html" %}
{% block title %} index {% endblock %}
{% block header %} 
<header class="Main-section Main-section--header Main-section--withBGImage" style="background-image: url({{header_image}})">
  <div class="u-sunk u-fadeToBG">
    <div class="Subsection">
      <h3>WorldWide Weblog</h3>
    </div> 
    <div class="Subsection">
      <h4>Ramblings on Ramblings</h4>
    </div>
  </div>
</header>
{% endblock %}
{% block content %}
  {% for post in posts %}
    <article class="Post Post--preview">
      <p>{{ post.content | striptags | truncate(250) }}<p>
      <p class="u-alignRight"><a class="Button" href="{{ post.url }}">Read more</a></p>
    </article>
  {% endfor %}
{% endblock %}

# vim: set filetype=jinja2
